body {
    font-family: sans-serif;
    padding: 0px;
    max-width: 400px;
    margin: 20px auto;
    background-color: #f0f2f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.expiration-cvv {
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.expiration-cvv .input-group {
     flex: 1;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin-bottom: 10px; 
}

.expiration-cvv .input-group:nth-child(2) label {
    display: none;
}

#mes-nacimiento, #año-nacimiento {
    width: 79px;
    box-sizing: border-box;
}

#prefijo {
    width: 100px;
    box-sizing: border-box;
}
.expiration-cvv #prefijo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.deposit-amount {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.deposit-amount input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.deposit-amount .min-amount {
    font-size: 14px;
    color: #888;
    white-space: nowrap;
}

.deposit-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.deposit-button:hover {
    background-color: #097F01;
}

.visa-secure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.visa-secure img {
    height: auto;
    max-width: 60px;
    margin-right: 0px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

h1 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 0.8em;
    color: #666;
    text-align: center;
    margin-top: 15px;
}

.campo-relleno {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
